@import url("https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif; }

a, a:hover {
  text-decoration: none;
  color: black;
  user-select: none; }

ul li {
  list-style-type: none; }

button:active, button:focus, input:focus {
  outline: none; }

p {
  margin-bottom: 0; }

label {
  margin-bottom: 0; }

h4 {
  margin-bottom: 0; }

.main {
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1d2124; }
  .main_content {
    padding: 0 25px;
    width: 602px;
    border: 1px solid #E2E5E6;
    background-color: #ffffff;
    border-radius: 2px; }

.country_name p, .second_country_name p {
  width: max-content;
  font-size: 10px;
  letter-spacing: 1px;
  line-height: 16px;
  color: #8C979A;
  font-family: "Roboto", sans-serif; }

.country_name {
  margin-bottom: 8px; }

.second_country_name {
  margin: 8px 0 8px; }

.main_container {
  padding: 17px 0 8px 0; }

.tag {
  border-bottom: 1px solid #E2E5E6; }
  .tag_text p {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    line-height: 18px;
    color: #373D3F;
    padding-left: 8px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: calc(174px - (6px * 2) - 12px); }

.tags {
  height: 26px;
  max-width: 173px;
  border-radius: 13px;
  background-color: #E6EFFB;
  display: inline-block;
  margin: 0 7px 8px 0; }

.text_and_icon {
  display: flex;
  align-items: baseline; }

.cancel_icon {
  padding: 0 6px; }
  .cancel_icon i {
    background-color: #ffffff;
    border-radius: 50%;
    color: #8C979A;
    padding: 3px;
    font-size: 6px; }

@font-face {
  font-family: 'location';
  src: url("../fonts/location.eot?l1t9t0");
  src: url("../fonts/location.eot?l1t9t0#iefix") format("embedded-opentype"), url("../fonts/location.ttf?l1t9t0") format("truetype"), url("../fonts/location.woff?l1t9t0") format("woff"), url("../fonts/location.svg?l1t9t0#location") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'location' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-chevron-down:before {
  content: "\e900"; }

.icon-file-text2:before {
  content: "\e926"; }

.icon-location2:before {
  content: "\e948"; }

.icon-search:before {
  content: "\e986"; }

.icon-cross:before {
  content: "\ea0f"; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif; }

a, a:hover {
  text-decoration: none;
  color: black;
  user-select: none; }

ul li {
  list-style-type: none; }

button:active, button:focus, input:focus {
  outline: none; }

p {
  margin-bottom: 0; }

label {
  margin-bottom: 0; }

h4 {
  margin-bottom: 0; }

::-webkit-scrollbar {
  width: 9px; }

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #B3C0D4; }

::-webkit-scrollbar-track-piece {
  background-color: #E7EEF4;
  border-radius: 10px; }

.search_field {
  height: 52px;
  position: relative; }

.icon_and_input {
  width: 100%; }

.search {
  width: 80%;
  border-right: 1px solid #E0E1E3;
  position: relative;
  margin-right: 6px; }
  .search_by_name {
    margin: 16px 24px 0 24px;
    padding-bottom: 16px;
    border-bottom: 1px solid #F2F3F4; }
    .search_by_name i {
      font-size: 20px;
      color: #C1C3C7; }
    .search_by_name ::placeholder {
      font-family: "Roboto", sans-serif;
      font-size: 14px;
      line-height: 20px;
      color: #C1C6C9; }
    .search_by_name input {
      border: none;
      width: 95%;
      height: 20px;
      margin-left: 7px; }
  .search input {
    border: none;
    width: 100%; }
  .search i {
    margin-right: 8px;
    color: #C1C6C9; }
  .search ::placeholder {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #C1C6C9; }
  .search_container {
    background-color: #ffffff;
    width: 444px;
    top: 80%;
    position: absolute;
    box-shadow: 0 3px 10px 0 rgba(6, 9, 14, 0.19); }
    .search_container p {
      font-family: "Roboto", sans-serif;
      font-size: 14px;
      line-height: 20px;
      padding-left: 15px;
      color: #373D3F; }
      .search_container p span {
        color: #1F70DC; }
    .search_container_item {
      height: 32px; }
      .search_container_item a {
        width: 100%; }

.presets {
  cursor: pointer;
  position: relative; }
  .presets_container {
    height: 342px;
    width: 566px;
    background-color: #ffffff;
    position: absolute;
    top: 90%;
    left: -16px;
    box-shadow: 0 3px 10px 0 rgba(6, 9, 14, 0.19);
    display: none; }
  .presets i, .presets p {
    color: #555F61; }
  .presets p {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    margin: 0 9px; }
  .presets_items {
    height: 32px; }

.text_icon {
  padding-left: 9px; }

.down_icon {
  font-size: 10px;
  padding-right: 8px; }

.text_and_checkbox {
  width: 100%;
  height: 88px; }
  .text_and_checkbox input {
    margin: 0 30px 0 16px; }
  .text_and_checkbox p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; }

.preset_title_and_text {
  padding: 16px 24px 0 24px;
  width: 93%; }
  .preset_title_and_text h4 {
    padding: 8px 0;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; }
  .preset_title_and_text p {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 20px; }

.preset_descriptions {
  position: relative; }
  .preset_descriptions_section {
    overflow: auto;
    height: 214px;
    margin-top: 16px; }
  .preset_descriptions input[type=checkbox] {
    display: none; }
  .preset_descriptions input[type=checkbox]:checked + .text_and_checkbox {
    background-color: #EFF5FD; }
  .preset_descriptions input[type=checkbox]:hover + .text_and_checkbox {
    background-color: #EFF5FD; }
  .preset_descriptions input[type=checkbox]:checked ~ label .checkmark {
    background-color: #1F70DC; }
  .preset_descriptions input[type=checkbox]:checked ~ label .checkmark:after {
    display: block; }

.preset_buttons {
  padding: 0 24px;
  height: 60px;
  align-items: center; }
  .preset_buttons_section {
    box-shadow: 0 -1px 6px 0 rgba(4, 16, 26, 0.1); }
  .preset_buttons button {
    border: none;
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: #1F70DC;
    cursor: pointer; }
    .preset_buttons button:disabled {
      opacity: 0.5;
      cursor: not-allowed; }

.checkmark {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  right: 0;
  background-color: #ffffff;
  height: 16px;
  width: 16px;
  border: 1px solid #dadedf;
  border-radius: 3px; }
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
    left: 4.57143px;
    top: 2.66667px;
    width: 5.33333px;
    height: 8px;
    border: solid #ffffff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg); }

.append_button {
  margin-right: 15px; }
