@import "app/scss/base/_base";
@import "app/scss/abstracts/_variables";
@import "../abstracts/_mixins";
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap');

.main {
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1d2124;

  &_content {
    padding: $main_content--padding;
    width: $main_content--width;
    border: 1px solid #E2E5E6;
    background-color: $main_content--background;
    border-radius: $main_content_border--radius;
  }
}

.country_name p, .second_country_name p {
  @include country_name_text;
}

.country_name {
  margin-bottom: 8px;
}

.second_country_name {
  margin: 8px 0 8px;
}

.main_container {
  padding: 17px 0 8px 0;
}

.tag {
  border-bottom: 1px solid $tag_border--color;

  &_text p {
    font-family: $font-roboto;
    font-size: 12px;
    line-height: 18px;
    color: $tag_text--color;
    padding-left: 8px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: calc(174px - (#{$cancel_icon--size} * 2) - 12px);
  }
}

.tags {
  height: $tags_height;
  max-width: $tags_max--width;
  border-radius: $tags_border--radius;
  background-color: $tags_background;
  display: inline-block;
  margin: 0 7px 8px 0;
}

.text_and_icon {
  display: flex;
  align-items: baseline;
}

.cancel_icon {
  padding: 0 6px;

  & i {
    background-color: $white;
    border-radius: 50%;
    color: #8C979A;
    padding: $cancel_icon--padding;
    font-size: $cancel_icon--size;
  }
}