$color: ("white": #ffffff,"tag_border--color": #E2E5E6,"tag_text--color": #373D3F,
        "search_icon_and_placeholder--color": #C1C6C9,"scroll--color": #B3C0D4,"presets_icon_and_text_color": #555F61,
        "search__container_text_span--color": #1F70DC);
$main_content--padding: 0 25px;
$main_content--width: 602px;
$main_content--background: map_get($color,"white");
$main_content_border--radius: 2px;
$tags_height: 26px;
$tags_border--radius: 13px;
$tags_background: #E6EFFB;
$tags_max--width: 173px;
$cancel_icon--size: 6px;
$cancel_icon--padding: $cancel_icon--size / 2;
$font-roboto: 'Roboto', sans-serif;
$search--height: 52px;
$placeholder_font--size: 14px;
$search_field_line--height: 20px;
$search--width: 80%;
$down_icon--size: 10px;
$scroll--width: 9px;
$scroll_border_radius: 10px;
$presets__field__item_height: 32px;
$search__container--width: 444px;
$search__container_text_font--size: 14px;
$search__container_item--height: 32px;
$presets_container--height: 342px;
$presets_container--width: 566px;
$presents_descriptions_section--height: 214px;
$presets__search_icon--size: 20px;
$checkmark_size: 16px;
$font-weight: ("regular": 400, "medium": 500);
