@font-face {
  font-family: 'location';
  src:  url('../fonts/location.eot?l1t9t0');
  src:  url('../fonts/location.eot?l1t9t0#iefix') format('embedded-opentype'),
  url('../fonts/location.ttf?l1t9t0') format('truetype'),
  url('../fonts/location.woff?l1t9t0') format('woff'),
  url('../fonts/location.svg?l1t9t0#location') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'location' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chevron-down:before {
  content: "\e900";
}
.icon-file-text2:before {
  content: "\e926";
}
.icon-location2:before {
  content: "\e948";
}
.icon-search:before {
  content: "\e986";
}
.icon-cross:before {
  content: "\ea0f";
}
